
body {
   overflow: auto; /* or overflow: visible; */
    background-color: #0a0f1f;
    color: #fff;
    font-family: Arial, sans-serif;
}

.nav-link {
    color: #fff;
}

.nav-link:hover {
    color: cyan;
}

.hero-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
}

.hero-text {
    max-width: 50%;
}

.hero-text h1 {
    font-size: 3rem;
    font-weight: bold;
}

.hero-text span {
    color: cyan;
}

.hero-text p {
    color: #aaa;
}

.btn-custom {
    background-color: cyan;
    color: #000;
    border-radius: 20px;
    padding: 10px 20px;
    font-weight: bold;
    text-decoration: none;
}
.social-icons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 15px;
}


.social-icons a {
    display: flex;
    align-items: left;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: 2px solid cyan;
    border-radius: 50%;
    color: cyan;
    font-size: 1.5rem;
    text-decoration: none;
    transition: 0.3s;
}

.social-icons a:hover {
    background-color: cyan;
    color: #000;
}

.btn-custom:hover {
    background-color: #00bcd4;
    color: #000;
}

.hero-image img {
    width: 550px;
    height: 600px;
    border-radius: 10px;
    /* box-shadow: 0px 0px 20px cyan;*/
    border-radius: 0 0 140px 100px;
    filter: drop-shadow(0px 0px 20px cyan);
}

.about-section {
    text-align: center;
    padding: 50px;
    margin-top: 100px;
}

.about-image img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: 0px 0px 20px cyan;
}